.books-list {
  box-sizing: border-box;
  padding: 80px 110px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

@media (max-width: 650px) {
  .books-list {
    padding: 40px 40px;
  }
}

@media (max-width: 500px) {
  .books-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
