.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.popup_is-opened {
  visibility: visible;
  opacity: 1;
}

.popup__form {
  max-width: 430px;
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.popup__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 34px 36px 0;
}

.popup__input {
  width: 358px;
  margin: 30px 36px 0;
  padding: 0 0 12px;
  outline: none;
  border-width: 0 0 1px;
  border-color: rgba(0, 0, 0, 0.2);
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.popup__input:first-of-type {
  margin:  54px 36px 0;
}

.popup__save {
  width: 358px;
  min-height: 50px;
  background-color: #000000;
  padding: 0;
  margin: 48px 36px 37px;
  border-radius: 6px;
  transform: opacity 1s ease-in;
  border: none;
  outline: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-align: center;
}

.popup__save_disabled {
  background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #000000;
    opacity: 0.2;
}

.popup__save_disabled:hover {
  opacity: 0.2;
}

.popup__save:hover {
  opacity: .8;
  cursor: pointer;
}

.popup__close {
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: none;
  position: absolute;
  bottom: calc(100% + 4px);
  left: calc(100% + 4px);
  transform: opacity 1s ease-in;
}

.popup__close:hover {
  opacity: .6;
  cursor: pointer;
}

@media (max-width:650px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin: 25px 22px 0;
  }

  .popup__input {
    width: 238px;
    margin: 30px 22px 0;
  }

  .popup__input:first-of-type {
      margin: 75px 22px 0;
  }

  .popup__save {
    width: 238px;
    font-size: 14px;
    line-height: 17px;
    min-height: 46px;
    margin: 45px 22px 25px;
  }

  .popup__close {
    width: 26px;
    height: 26px;
    bottom: 105.33%;
    left: 90.68%;
  }
}

